

# editor temp files
*~
.*.sw?
.sw?
.\#*
\#*\#
DEADJOE
# compiled files
_vendor/
*\.test

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# various output files
*.out
cover-cobertura.xml
cover.json
report.xml

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.out

# local test data

t-data/*local

